.transactionCard {
    width: 400px;
    padding-left: 5px;
    padding-right: 5px;
    overflow: hidden;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;

    .transactionItem {
        margin: 5px auto;
    }
}